<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <!-- "web.xml" is only usefull to provide "display-name" attribut, on tomcat war deployment -->
    <!-- otherwise use "server.display-name" in application.properties -->
    <display-name>appstatus-spring-boot-demo</display-name>

</web-app>